* {
    margin: 0;
}
.bg1 {
    /* The image used */
    background-image: url("./pexels-photo-440731.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: -325px;
  }

.bg2 {
    background-image: url("./pexels-photo-440731.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

header {
    background-color: cadetblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style: none;
    padding-left: 0px;
}

div {
    /* border: solid 2px; */
    padding: 12px;
}

.searchCity {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.main-div {
    display: flex;
    backface-visibility: hidden;
}

#city-name {
    padding-top: 10px;
    padding-right: 10px;
}

.currentCity {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 0px;
}

.Top {
    display: flex;
    justify-content: flex-start;
}

.text {
    border: solid 2px;
}

.five-day {
    padding: 20px 0px 10px 30px;
}

.futureForecast {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.futuredays {
    background-color: cadetblue;
    border-radius: 10px;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
